# Core functionality - changes here should be rare!
/src/app.py                   @accelage
/src/backend/database.py      @accelage
/src/backend/routers/auth.py  @accelage

# The frontend will need refactored soon to be more object oriented.
/src/static/   @accelage
